/* 导入 normalize.css */
@import './normalize.css';
/* 导入 tailwindcss */
@import "tailwindcss";
/* 导入全局主题样式 */
@import './root.css';
@import '@/theme/themes.css';

/* 全局盒模型重置 */
*,
*::before,
*::after {
    box-sizing: border-box;
}