/* 导入 tailwindcss */
@import 'tailwindcss';
/* 导入全局主题样式 */
@import '@/theme/themes.css';

/* 全局盒模型重置 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#app {
    font-size: 14px;
    height: 100%;
    width: 100%;
    font-weight: 500;
}

/* 全局滚动条样式 */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
}