:root {
    --background: #f9f9f7;
    --foreground: #18181a;
    --card: #fffffd;
    --card-foreground: #000000;
    --popover: #fffffd;
    --popover-foreground: #000000;
    --primary: #e2a919;
    --primary-foreground: #18181a;
    --secondary: #94822b;
    --secondary-foreground: #f9f9f7;
    --muted: #eeece9;
    --muted-foreground: #6d6a62;
    --accent: #84a0df;
    --accent-foreground: #000000;
    --destructive: #d94346;
    --destructive-foreground: #000000;
    --border: #e1dfda;
    --input: #c1bfba;
    --ring: #e2a919;
    --chart-1: #e2a919;
    --chart-2: #2646a6;
    --chart-3: #ff5c5c;
    --chart-4: #183388;
    --chart-5: #2ab8b3;
    --sidebar: #f9f9f7;
    --sidebar-foreground: #000000;
    --sidebar-primary: #f8bd32;
    --sidebar-primary-foreground: #18181a;
    --sidebar-accent: #fffffd;
    --sidebar-accent-foreground: #000000;
    --sidebar-border: #e1dfda;
    --sidebar-ring: #e2a919;
    --radius: 0rem;
    --letter-spacing: 0em;
    --font-sans: Geist, sans-serif;
    --font-mono: 'Geist Mono', monospace;
    --font-serif: Merriweather, serif;
    --shadow-color: #e1dfda;
    --shadow-opacity: 1;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 4px;
    --shadow-offset-y: 4px;
    --shadow-2xs: 4px 4px 0px 0px hsl(42.86 10.45% 86.86% / 0.5);
    --shadow-xs: 4px 4px 0px 0px hsl(42.86 10.45% 86.86% / 0.5);
    --shadow-sm: 4px 4px 0px 0px hsl(42.86 10.45% 86.86% / 1), 4px 1px 2px -1px hsl(42.86 10.45% 86.86% / 1);
    --shadow: 4px 4px 0px 0px hsl(42.86 10.45% 86.86% / 1), 4px 1px 2px -1px hsl(42.86 10.45% 86.86% / 1);
    --shadow-md: 4px 4px 0px 0px hsl(42.86 10.45% 86.86% / 1), 4px 2px 4px -1px hsl(42.86 10.45% 86.86% / 1);
    --shadow-lg: 4px 4px 0px 0px hsl(42.86 10.45% 86.86% / 1), 4px 4px 6px -1px hsl(42.86 10.45% 86.86% / 1);
    --shadow-xl: 4px 4px 0px 0px hsl(42.86 10.45% 86.86% / 1), 4px 8px 10px -1px hsl(42.86 10.45% 86.86% / 1);
    --shadow-2xl: 4px 4px 0px 0px hsl(42.86 10.45% 86.86% / 2.5);
}

.dark {
    --background: #0a0a0a;
    --foreground: #f3f3f5;
    --card: #121212;
    --card-foreground: #ffffff;
    --popover: #050505;
    --popover-foreground: #ffffff;
    --primary: #dab200;
    --primary-foreground: #000000;
    --secondary: #b3a97b;
    --secondary-foreground: #000000;
    --muted: #15151a;
    --muted-foreground: #a1a1a3;
    --accent: #1f5189;
    --accent-foreground: #ffffff;
    --destructive: #ff7c7c;
    --destructive-foreground: #000000;
    --border: #1c1c1c;
    --input: #3b3b3c;
    --ring: #ba9200;
    --chart-1: #b69100;
    --chart-2: #4e89ce;
    --chart-3: #ffd400;
    --chart-4: #1f5189;
    --chart-5: #735300;
    --sidebar: #0a0a0a;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #dab200;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #040404;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #222223;
    --sidebar-ring: #ba9200;
    --radius: 0rem;
    --letter-spacing: 0em;
    --font-sans: Geist, sans-serif;
    --font-mono: 'Geist Mono', monospace;
    --font-serif: Merriweather, serif;
    --shadow-color: #222223;
    --shadow-opacity: 1;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 4px;
    --shadow-offset-y: 4px;
    --shadow-2xs: 4px 4px 0px 0px hsl(240 1.45% 13.53% / 0.5);
    --shadow-xs: 4px 4px 0px 0px hsl(240 1.45% 13.53% / 0.5);
    --shadow-sm: 4px 4px 0px 0px hsl(240 1.45% 13.53% / 1), 4px 1px 2px -1px hsl(240 1.45% 13.53% / 1);
    --shadow: 4px 4px 0px 0px hsl(240 1.45% 13.53% / 1), 4px 1px 2px -1px hsl(240 1.45% 13.53% / 1);
    --shadow-md: 4px 4px 0px 0px hsl(240 1.45% 13.53% / 1), 4px 2px 4px -1px hsl(240 1.45% 13.53% / 1);
    --shadow-lg: 4px 4px 0px 0px hsl(240 1.45% 13.53% / 1), 4px 4px 6px -1px hsl(240 1.45% 13.53% / 1);
    --shadow-xl: 4px 4px 0px 0px hsl(240 1.45% 13.53% / 1), 4px 8px 10px -1px hsl(240 1.45% 13.53% / 1);
    --shadow-2xl: 4px 4px 0px 0px hsl(240 1.45% 13.53% / 2.5);
}
