@import './default-theme.css';
@import './red-theme.css';

/* 定义主题变量 */
:root {
    /* 背景 */
    --default-bg-color: #f3f5f8;
    --white-bg-color: #fff;
    /* 字体 */
    --default-text-color: #333;
    --label-text-color: #909399;
    --white-text-color: #fefefe;
    /* 阴影 */
    --default-shadow-color: #e0e9f6;
    --card-shadow-color: rgba(5, 5, 5, 0.1);
}

:root {
    /* 按钮 */
    --wb-button-text-color: var(--white-text-color);
    --wb-button-default-color: var(--default-text-color);
    --wb-button-default-bg-color: #f1f5ff;
    --wb-button-primary-bg-color: var(--theme-color);
    --wb-button-default-shadow-color: var(--default-shadow-color);
    --wb-button-hover-shadow-color: rgba(0, 0, 0, 0.25);

    /* 标签 */
    --wb-tag-color: var(--theme-text-color);
    --wb-tag-bg-color: #f1f5ff;
    --wb-tag-shadow-color: var(--default-shadow-color);
}
