@import './default-theme.css';
@import './red-theme.css';

/* 定义主题变量 */
:root {
    /* 颜色 */
    --default-txt-color: #333;
    --default-shadow-color: #e0e9f6;
}

:root {
    /* 按钮 */
    --wb-button-color: #fefefe;
    --wb-button-default-color: var(--default-txt-color);
    --wb-button-default-bg-color: #f1f5ff;
}
